.nav-link {
  cursor: pointer;
}

.tag-pill {
  cursor: pointer;
}

.delivery-method-selector {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.delivery-method-selector label {
  font-weight: bold;
  margin-right: 1rem;
}

.delivery-method-selector select {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
