<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">Carrefour</h1>
      <p>Drive And Deliver Demo</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-12">


        <!-- Delivery Method Selector -->
        <div class="delivery-method-selector" [formGroup]="form">
          <label for="deliveryMethod" >Delivery Method:</label>
          <select id="deliveryMethod" formControlName="deliveryMethod" class="form-control">
            <option *ngFor="let method of deliveryMethods" [value]="method">{{ method }}</option>
          </select>
        </div>

        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link active">
                Delivery Time Slots
              </a>
            </li>
          </ul>
        </div>

        <app-time-slots-list [deliveryMethod]="selectedDeliveryMethod" [size]="20" [config]="listConfig"></app-time-slots-list>
      </div>
    </div>
  </div>
</div>
